body{
    font-family: 'Shippori Antique B1', sans-serif;
    background: linear-gradient(to right,#00AAFF, #00FF6C);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.btn-container{
    border: 4px solid violet;
    background-color: purple;
    width: 300px;
}
button{
    height: 70px;
    width: 70px;
    font-size: 30px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.75)
}
#screen{
    width: 285px;
    height: 60px;
    border: 5px solid black;
}
button:hover{
    background-color: rgba(255, 255, 255, 0.5);
}